transformers
crawl4ai
accelerate>=0.26.0
faiss-cpu
colorlog
redis
torch 
nltk
nest-asyncio # just for async in notebook
langchain
beautifulsoup4 
requests
dependency-injector
thespian==3.10.5
fastapi
uvicorn[standard]
pydantic
pyyaml
googlesearch-python 
requests 
beautifulsoup4 
markdownify
Markdown
torch
ollama
sentence-transformers
blobfile
keybert
googletrans
translate
langdetect
huggingface-hub==0.25.2
langchain-ollama
pyodbc==5.1.0
mysql-connector-python==8.4.0
deep-translator